<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0P5FWTmgF1ASlMqZ5MA3oF1Q24uUPfkw</string>
	<key>GCM_SENDER_ID</key>
	<string>800129430252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFinalDam.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todoapp-a8c96</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-a8c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800129430252:ios:cbfed14386acb3da4aabc9</string>
</dict>
</plist>